.vs/MapperPerformance/v15/.suo
.vs/MapperPerformance/DesignTimeBuild/.dtbcache
.vs/
AutoMapperLibraryCore/bin/
AutoMapperLibraryCore/obj/
MapperPerformanceCore.Objects/bin/
MapperPerformanceCore.Objects/obj/
MapperPerformanceCore/bin/
MapperPerformanceCore/obj/
